# IDEs e Workspace
*.code-workspace
.vscode/

# Node modules (Sempre ignore)
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files (Segurança: nunca suba suas chaves do n8n!)
.env
.env.*

# Docker
Dockerfile.local
.dockerignore

# OS files
.DS_Store
Thumbs.db