version: '3.8'

services:
  smcp:
    image: brunopelatieri/mcp-n8n-bruia:lasted
    networks:
      - bru

    healthcheck:
      disable: true

    environment:
      - N8N_URL_FILE=/run/secrets/n8n_url
      - N8N_API_KEY_FILE=/run/secrets/n8n_api_key
      - MCP_ALLOWED_KEYS_FILE=/run/secrets/mcp_allowed_keys
      - NODE_ENV=production
    secrets:
      - n8n_url
      - n8n_api_key
      - mcp_allowed_keys

    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
      resources:
        limits:
          memory: 256M
          cpus: "0.5"
      labels:
        - traefik.enable=true
        - traefik.docker.network=bru
        - traefik.http.routers.bmcp.rule=Host(`bmcp.bru.ia.br`)
        - traefik.http.routers.bmcp.entrypoints=websecure
        - traefik.http.routers.bmcp.tls=true
        - traefik.http.routers.bmcp.tls.certresolver=letsencryptresolver
        - traefik.http.services.bmcp-svc.loadbalancer.server.port=3000
        # Middlewares para não fechar a conexão
        - traefik.http.middlewares.bmcp-buffer.buffering.maxRequestBodyBytes=0
        - traefik.http.routers.bmcp.middlewares=bmcp-buffer
networks:
  bru:
    external: true
    name: bru

secrets:
  n8n_url:
    external: true
  n8n_api_key:
    external: true
  mcp_allowed_keys:
    external: true